<section>
  <div class="page-header">
    <h1>{{vm.plan._id ? 'Edit Plan' : 'New Plan'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.planForm" class="form-horizontal" novalidate>
      <fieldset>
      <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Overview">
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Name</label>
            <input name="name" type="text" ng-model="vm.plan.name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.planForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Plan name is required.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 form-group" show-errors>
              <label class="control-label" for="release">Release</label>
              <ui-select name="release" ng-model="vm.plan.release" theme="bootstrap" required>
                <ui-select-match placeholder="Select or search a release in the list...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="release in vm.releaseslist | filter: $select.search">
                  <div ng-bind-html="release.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <div ng-messages="vm.form.planForm.release.$error" role="alert">
                <p class="help-block error-text">Plan Release is required.</p>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 form-group" show-errors>
              <label class="control-label" for="domain">Domain</label>
              <ui-select name="domain" ng-model="vm.plan.domain" theme="bootstrap" required>
                <ui-select-match placeholder="Select or search a domain in the list...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="domain in vm.domainslist | filter: $select.search">
                  <div ng-bind-html="domain.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <div ng-messages="vm.form.planForm.domain.$error" role="alert">
                <p class="help-block error-text">Plan Domain is required.</p>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 form-group" show-errors>
              <label class="control-label" for="author">Author</label>
              <ui-select name="author" ng-model="vm.plan.author" theme="bootstrap" required>
                <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.displayName}}</ui-select-match>
                <ui-select-choices repeat="user in vm.userslist | filter: $select.search">
                  <div ng-bind-html="user.displayName | highlight: $select.search"></div>
                  <small ng-bind-html="user.email | highlight: $select.search"></small>
                </ui-select-choices>
              </ui-select>
              <div ng-messages="vm.form.planForm.author.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Plan Author is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea rows="3" ng-model="vm.plan.description" class="form-control" placeholder="Description"></textarea>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Status">
          <div class="row">
            <div class="col-md-5 form-group" show-errors>
              <label class="control-label" for="category">Category</label>
              <select class="form-control" name="category" ng-model="vm.plan.category" ng-options="o as o for o in vm.options.category" required></select>
              <div ng-messages="vm.form.planForm.category.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Plan category is required.</p>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div ng-show="vm.plan._id" class="col-md-5 form-group" show-errors>
              <label class="control-label" for="status">Status</label>
              <select class="form-control" name="status" ng-model="vm.plan.status" ng-options="o as o for o in vm.options.status" required></select>
              <div ng-messages="vm.form.planForm.status.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Plan status is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">CRQs</label>
            <input type="text" ng-model="vm.plan.crqs" class="form-control" placeholder="CRQs">
          </div>
          <div class="form-group">
            <label class="control-label" for="apps">Applications</label>
            <ui-select multiple ng-model="vm.plan.apps" theme="bootstrap">
              <ui-select-match placeholder="Select applications...">{{$item.name}} &lt;{{$item.ait}}&gt;</ui-select-match>
              <ui-select-choices repeat="application in vm.appslist | filter: $select.search">
                <div ng-bind-html="application.name | highlight: $select.search"></div>
                <small>
                  ait: <span ng-bind-html="''+application.ait | highlight: $select.search"></span>
                </small>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <label class="control-label" for="dcs">Datacenter(s)</label>
            <ui-select multiple ng-model="vm.plan.dcs" theme="bootstrap" close-on-select="false">
              <ui-select-match placeholder="Select applications...">{{$item}}</ui-select-match>
              <ui-select-choices repeat="dc in vm.options.dcs | filter: $select.search">
                <div ng-bind-html="dc | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group" ng-show="vm.plan._id">
            <label class="control-label" for="edit">
            <input type="checkbox" name="edit" ng-model="vm.plan.edit"> Allow edit</label><br/>
          </div>
        </uib-tab>
        <uib-tab index="2" heading="Time">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="autolock">Auto Lock at : </label>
            <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-default" data-ng-click="opencal.autolock='true'">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </a>
                </span>
                <input name="autolock" type="text" class="form-control" uib-datepicker-popup="{{vm.dateformat}}" ng-model="vm.plan.autolock" is-open="opencal.autolock" datepicker-options="{showWeeks:false,startingDay:1}" close-text="Close" />
              </div>
            </div>
            <div class="col-sm-5">
              <div uib-timepicker ng-model="vm.plan.autolock" hour-step="1" minute-step="5" show-meridian="true" show-spinners="false">
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="(vm.plan.status=='InProgress'?false:true)" show-errors>
            <label class="col-sm-2 control-label" for="initStart">Start Time : </label>
            <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-default" data-ng-click="opencal.initStart='true'">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </a>
                </span>
                <input name="initStart" type="text" class="form-control" uib-datepicker-popup="{{vm.dateformat}}" ng-model="vm.plan.initStart" is-open="opencal.initStart" datepicker-options="{showWeeks:false,startingDay:1}" close-text="Close" required/>
              </div>
            </div>
            <div class="col-sm-5">
              <div uib-timepicker ng-model="vm.plan.initStart" hour-step="1" minute-step="5" show-meridian="true" show-spinners="false">
              </div>
            </div>
            <div ng-messages="vm.form.planForm.initStart.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Plan start time is required.</p>
            </div>
          </div>
          <div class="form-group" ng-show="(vm.plan.status=='InProgress'?false:true)" show-errors>
            <label class="col-sm-2 control-label" for="initEnd">End Time : </label>
            <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-default" data-ng-click="opencal.initEnd='true'">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </a>
                </span>
                <input name="initEnd" type="text" class="form-control" uib-datepicker-popup="{{vm.dateformat}}" ng-model="vm.plan.initEnd" is-open="opencal.initEnd" datepicker-options="{showWeeks:false,startingDay:1}" close-text="Close" required/>
              </div>
            </div>
            <div class="col-sm-5">
              <div uib-timepicker ng-model="vm.plan.initEnd" hour-step="1" minute-step="5" show-meridian="true" show-spinners="false">
              </div>
            </div>
            <div ng-messages="vm.form.planForm.initEnd.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Plan end time is required.</p>
            </div>
          </div>
          <div class="form-group" ng-show="(vm.plan.status=='InProgress'?true:false)">
            <label class="col-sm-2 control-label" for="updatedStart">Updated Start : </label>
            <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-default" data-ng-click="opencal.updatedStart='true'">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </a>
                </span>
                <input name="updatedStart" type="text" class="form-control" uib-datepicker-popup="{{vm.dateformat}}" ng-model="vm.plan.updatedStart" is-open="opencal.updatedStart" datepicker-options="{showWeeks:false,startingDay:1}" close-text="Close" />
              </div>
            </div>
            <div class="col-sm-5">
              <div uib-timepicker ng-model="vm.plan.updatedStart" hour-step="1" minute-step="5" show-meridian="true" show-spinners="false">
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="(vm.plan.status=='InProgress'?true:false)">
            <label class="col-sm-2 control-label" for="updatedEnd">Updated End : </label>
            <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-default" data-ng-click="opencal.updatedEnd='true'">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </a>
                </span>
                <input name="updatedEnd" type="text" class="form-control" uib-datepicker-popup="{{vm.dateformat}}" ng-model="vm.plan.updatedEnd" is-open="opencal.updatedEnd" datepicker-options="{showWeeks:false,startingDay:1}" close-text="Close" />
              </div>
            </div>
            <div class="col-sm-5">
              <div uib-timepicker ng-model="vm.plan.updatedEnd" hour-step="1" minute-step="5" show-meridian="true" show-spinners="false">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="subscribers">Subscriber(s)</label>
            <ui-select multiple tagging tagging-label="" ng-model="vm.plan.subscribers" theme="bootstrap">
              <ui-select-match placeholder="Select subscribers...">{{$item}}</ui-select-match>
              <ui-select-choices repeat="user in vm.plan.subscribers | filter:$select.search">
                {{user}}
              </ui-select-choices>
            </ui-select>
          </div>
        </uib-tab>
        <uib-tab index="3" heading="Tasks" ng-show="vm.plan._id">
          <div class="tasksDnd">
            <ul dnd-list="vm.tasks">
                <li ng-repeat="item in vm.tasks"
                    dnd-draggable="item"
                    dnd-moved="vm.tasks.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="vm.dnd.selected = item"
                    dnd-dragend="vm.dragend()"
                    ng-class="{'selected': vm.dnd.selected === item}"
                    >
                    <dnd-nodrag>
                      <div dnd-handle class="handle">:::</div>
                      <div class="name">
                          <input type="text" ng-model="item.name" class="form-control input-sm">
                      </div>
                    </dnd-nodrag>
                </li>
            </ul>
          </div>
        </uib-tab>
      </uib-tabset>
        <div class="form-group">
          <button type="button" ng-click="vm.save(vm.form.planForm.$valid)" class="btn btn-primary">{{vm.plan._id ? 'Update' : 'Create'}}</button>
          <button type="button" ng-click="vm.cancelform()" class="btn btn-default">Cancel</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
