<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.plan.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.plan.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="plans.edit({ planId: vm.plan._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.plan.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.plan.createdBy"
            data-ng-bind="vm.plan.createdBy.displayName"></span>
      <span data-ng-if="!vm.plan.createdBy">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.plan.status"></p>
  <section>
    <div class="page-header">
      <h3>Tasks
        <a class="btn btn-info pull-right" data-ui-sref="tasks.create({ planId: vm.plan._id })">
          <i class="glyphicon glyphicon-plus"></i> <b>Add Task</b>
        </a>
      </h3>
    </div>
    <div class="list-group">
      <a data-ng-repeat="task in vm.tasks"
         data-ui-sref="tasks.view({ taskId: task._id, planId: task.parent._id })"
         class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span data-ng-bind="task.created | date:'mediumDate'"></span>
          by
          <span data-ng-if="task.createdBy" data-ng-bind="task.createdBy.displayName"></span>
          <span data-ng-if="!task.createdBy">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" data-ng-bind="task.name"></h4>
      </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="vm.tasks.$resolved && !vm.tasks.length">
      No Tasks yet, why don't you <a data-ui-sref="tasks.create">create one</a>?
    </div>
  </section>
</section>
