<section>
  <div class="page-header">
    <h3>{{vm.plan.name}} {{vm.plan.category}} - <small>{{vm.plan.release.name}}</small></h3>
    <small><i>Author : {{vm.plan.author.displayName}}       Version: {{vm.plan.status}}</i></small>
  </div>
  <div class="pull-right"
       data-ng-show="vm.plan.isCurrentUserOwner">
    <a class="btn btn-success"
          ng-click="startExecution()" ng-show="vm.plan.status=='Final'">
          <i class="glyphicon glyphicon-play"></i> <em>Start</em>
    </a>
    <a class="btn btn-primary"
       data-ui-sref="plans.edit({ planId: vm.plan._id })" ng-show="vm.plan.status=='Draft'">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger" data-ng-click="vm.remove()" ng-show="vm.plan.status=='Draft'">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>
    {{(vm.plan.status=='InProgress' || vm.plan.status=='Completed'?'Actual':'Estimated')}} Start: {{(vm.plan.actualStart || vm.plan.updatedStart || vm.plan.initStart) | date : 'MMM d, y h:mm a'}}<br/>
    Duration: {{vm.plan.duration}} Minutes
  </div>
  <div ng-show="vm.plan.status=='InProgress' || vm.plan.status=='Completed'">
    <uib-progressbar value="(vm.plan.execution.completion)" type="{{(vm.plan.execution.colorstatus=='Green'?'success':(vm.plan.execution.colorstatus=='Yellow'?'warning':'danger'))}}">{{vm.plan.execution.completion}}%</uib-progressbar>
  </div><br/><br/>
  <div>
    <div class="page-header">
      <h4>Tasks
        <a class="btn btn-info pull-right" data-ui-sref="tasks.create({ planId: vm.plan._id })">
          <i class="glyphicon glyphicon-plus"></i> Add Task
        </a>
      </h4>
    </div>
    <div class="list-group">
      <table st-table="taskCollection" st-safe-src="vm.tasks" class="table table-hover">
        <thead>
          <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th st-sort="sortOrder" st-sort-default="true">Task #</th>
            <th>Task Name</th>
            <th>POC</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="task in taskCollection">
            <td>{{(task.actualStart || task.updatedStart || task.initStart) | date: 'MM/dd/yyyy HH:mm'}}</td>
            <td>{{(task.actualEnd || task.updatedEnd || task.initEnd) | date: 'MM/dd/yyyy HH:mm'}}</td>
            <td>{{task.duration}}</td>
            <td>{{task.sortOrder+1}}</td>
            <td><a data-ui-sref="tasks.view({ taskId: task._id, planId: task.parent._id })">{{task.name}}</a></td>
            <td><span ng-repeat="poc in task.poc">{{poc.displayName}}; </span></td>
            <td>
              <a class="btn btn-primary" ng-show="task.status=='Approved' && (task.poc._id==user._id || vm.plan.isCurrentUserOwner)" ng-click="taskCompleted(task._id)">
                <i class="glyphicon glyphicon-check"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot ng-show="vm.plans.length>15">
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="15" st-displayed-pages="5"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="vm.tasks.$resolved && !vm.tasks.length">
      No Tasks yet, why don't you <a data-ui-sref="tasks.create">create one</a>?
    </div>
  </div>
</section>
