<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 1.5em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <table st-table="userCollection" st-safe-src="pagedItems" class="table table-hover">
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in userCollection">
          <td>{{user.displayName}}</td>
          <td>{{user.email}}</td>
          <td><span ng-repeat="role in user.roles">{{role}}, </span></td>
          <td>
            <a class="btn btn-primary" data-ui-sref="admin.user-edit({userId: user._id})">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
