<section>
  <div class="page-header">
    <h1>Releases</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="release in vm.releases"
       data-ui-sref="releases.view({ releaseId: release._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="release.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="release.user" data-ng-bind="release.user.displayName"></span>
        <span data-ng-if="!release.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="release.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.releases.$resolved && !vm.releases.length">
    No Releases yet, why don't you <a data-ui-sref="releases.create">create one</a>?
  </div>
</section>
