<section>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        <span>{{vm.domain._id ? 'Edit Domain' : 'New Domain'}}</span>
      </h1>
      <span flex></span>
      <md-button class="md-raised" aria-label="Delete Domain" data-ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <div>
    <form name="vm.form.domainForm">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Domain Name</label>
        <input name="domain" ng-model="vm.domain.name" required>
        <div ng-messages="vm.form.domainForm.name.$error" role="alert">
          <div ng-message="required" class="my-message">You must provide a domain name.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm ng-show="vm.domain._id">
        <label>Status</label>
        <md-switch ng-model="vm.domain.status" ng-true-value="'active'" ng-false-value="'inactive'" aria-label="Status">
          {{ vm.domain.status }}
        </md-switch>
      </md-input-container>
      <md-input-container class="md-block autocomplete" flex-gt-sm>
        <label>Managers</label>
        <md-contact-chips
          ng-model="vm.domain.manager"
          md-contacts="vm.querySearch($query)"
          md-contact-name="displayName"
          md-contact-email="email"
          md-require-match="true"
          md-highlight-flags="i"
          placeholder="Managers..">
        </md-contact-chips>
      </md-input-container>
      <div>
        <md-button class="md-raised md-primary" data-ng-click="vm.save(vm.form.domainForm.$valid)">{{vm.domain._id ? 'Update' : 'Create'}}</md-button>
        <md-button class="md-raised" data-ng-click="vm.cancelform()">Cancel</md-button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </form>
    </div>
  </md-content>
</section>
