<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.domain.name"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       data-ui-sref="domains.edit({ domainId: vm.domain._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.domain.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.domain.createdBy"
            data-ng-bind="vm.domain.createdBy.displayName"></span>
      <span data-ng-if="!vm.domain.createdBy">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.domain.content"></p>
</section>
